$creamy-brown: rgb(207, 179, 137);
$black: rgb(0, 0, 0);
$almost-white: rgb(250, 250, 250);
$white: rgb(255, 255, 255);
$dark-grey: rgb(71, 69, 69);
$grey: rgb(128, 128, 128);
$red: rgb(255, 0, 0);
$less-faint-creamy-brown: rgba($creamy-brown, 0.8);
$faint-creamy-brown: rgba($creamy-brown, 0.4);